streamlit
pandas as pd
numpy as np
matplotlib.pyplot as plt
seaborn as sns
plotly.express as px
plotly.figure_factory as ff 
plotly.graph_objs as go 
imblearn.over_sampling import SMOTE
sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder